html{
    font-size: 16px;
    margin: 0;
}

body,h1,h2,h3,h4,h5,h6,p,button{
    margin: 0;
    padding: 0;
}

button{
    outline: none;
}


footer {
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 100%;
  
}